<!-- social links code from https://github.com/BarryBeics/Rosie-Odenkirk -->
<footer>
    <div class="container">
        <div class="row my-3 mt-5">
            <div class="text-center col-sm-12">
                <ul class="list-inline social-links">
                    <li class="list-inline-item">
                        <a target="_blank" href="https://facebook.com/">
                            <i class="fab fa-facebook-f logo-font font-weight-bold nav-link text-black" aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.twitter.com/">
                            <i class="fab fa-twitter logo-font font-weight-bold nav-link text-black" aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.pinterest.com/">
                            <i class="fab fa-pinterest-p logo-font font-weight-bold nav-link text-black" aria-hidden="true"></i>
                            <span class="sr-only">Pinterest</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.instagram.com/">
                            <i class="fab fa-instagram logo-font font-weight-bold nav-link text-black" aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a target="_blank" href="https://www.youtube.com/">
                            <i class="fab fa-youtube logo-font font-weight-bold nav-link text-black" aria-hidden="true"></i>
                            <span class="sr-only">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <p>
                    admin: jakubbubble@gmail.com
                </p>
            </div>
        </div>
    </div>
</footer>
