<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="philodendron-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Philodendron
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="philodendron-link">
                <a href="" class="dropdown-item">Domesticum</a>
                <a href="" class="dropdown-item">Melanochrysum</a>
                <a href="" class="dropdown-item">Pink Princess</a>
                <a href="" class="dropdown-item">Red Anderson</a>
                <a href="" class="dropdown-item">Splendid</a>
                <a href="" class="dropdown-item">White Knight</a>
                <a href="" class="dropdown-item">White Princess</a>
                <a href="" class="dropdown-item">All Philodendrons</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="syngonium-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Syngonium
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="syngonium-link">
                <a href="" class="dropdown-item">Confetti</a>
                <a href="" class="dropdown-item">Mint</a>
                <a href="" class="dropdown-item">Pink Splash</a>
                <a href="" class="dropdown-item">Pink Splash - Tricolor</a>
                <a href="" class="dropdown-item">Podophilum Albo</a>
                <a href="" class="dropdown-item">Three Kings</a>
                <a href="" class="dropdown-item">All Syngoniums</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="monstera-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Monstera
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="monstera-link">
                <a href="" class="dropdown-item">Aurea</a>
                <a href="" class="dropdown-item">Albo</a>
                <a href="" class="dropdown-item">Thai Constellation</a>
                <a href="" class="dropdown-item">All Monsteras</a>
            </div>
        </li>
    </ul>
</div>